#editorWrapper.errorSignal {
  animation-name: changeBlackToRed;
  animation-duration: 1s;
}

@keyframes changeBlackToRed {
  0% {
    border-color: #282c34;
  }
  50% {
    border-color: red;
  }
  100% {
    border-color: #282c34;
  }
}
/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
